.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 15vh 65vh 15vh;
  grid-template-areas:
    'header header'
    'main aside'
    'footer footer';
}

.header {
  background: #201c33;
  grid-area: header;
}
.main {
  background: #161326;
  grid-area: main;
}
.aside {
  background: #e6004c;
  grid-area: aside;
}

.footer {
  background: #201c33;
  grid-area: footer;
}
