.notification {
  overflow: hidden;
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--primary-color-text);
}
